**/CMakeFiles
**/lib
**/Debug
bin/Release
bin/RelWithDebInfo
x64/
**.cmake
**.vcxproj
**.filters
**.user
**.a
**/skalog_bench
**/skalang_runner
**/skalang_bytecode_*
**/skalang_interpreter_*
**/skalang_test
**.sln
CMakeCache.txt
**/CMakeCache.txt
/.vs
**/.vs
**/Makefile
Makefile
*/external/build
/bench/external
TypeBuilderLogError.txt
**/TypeBuilderLogError.txt
**/Log.txt
Log.txt
LogError.txt
**/LogError.txt
*.log
.vscode
**/*.dir
*.dir
*.log.txt
/bytecode/runner/mainb
*.miniskab
