################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

**/Debug/*.tlog
**/Debug
**/CMakeFiles
**/CMakeCache.txt
